[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
scipy = "==1.17.1"
scipy-stubs = "~=1.17.1"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
